<!--Footer-->

<footer class="elio-footer">

<div class="footer-container">

<!-- LOGO et NOM -->

<div class="brand">

<a href="index.html">
<img class="logo-spinner"
src="https://i.postimg.cc/rw2ZZHrP/LOGO-Elioush.jpg"
alt="Elioush Gaming Logo">
</a>

<h2 class="title">ELIOUSH GAMING</h2>

</div>

<p class="desc">
Mods exclusifs pour Euro Truck Simulator 2 – Peintures, accessoires et contenu communautaire.
</p>

<!-- SOCIAL -->

<div class="contact-section">
<h3>Suivez-nous</h3>

<div class="social-media">

<a target="_blank" href="https://discord.gg/DKY7UQ4E" aria-label="Discord">
<img src="https://i.postimg.cc/DwNV9pv2/discord-round-color-icon.png"/>
</a>

<a target="_blank" href="https://www.tiktok.com/@elioush_gaming" aria-label="TikTok">
<img src="https://i.postimg.cc/Z0k4zfFc/tiktok-rounded-square-icon.jpg"/>
</a>

</div>

</div>

</div>

<div class="copyright">
© Elioush Gaming | Euro Truck Simulator 2 Mods © 2026. All Rights Reserved
</div>

<div class="snow"></div>
<footer></footer>