<div onclick="toggleSocial()" class="social-widget">

    <div class="social-icons" id="socialMenu">

        <a href="https://tiktok.com/@elioush_gaming" target="_blank">
            <i class="fa-brands fa-tiktok"></i>
        </a>

        <a href="https://discord.gg/DKY7UQ4E" target="_blank">
            <i class="fa-brands fa-discord"></i>
        </a>

        <a href="https://wa.me/2250546445542?text=Bonjour%20ELIOUSH%20GAMING,nous%20sommes%20intérresser%20à%20rejoindre%20ton%20server%20de%20communauté%20gaming%20discord."
            target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
        </a>

    </div>

    <div class="main-btn">
        <img src="https://i.postimg.cc/rw2ZZHrP/LOGO-Elioush.jpg">
    </div>

</div>